/* Created new css file */

/* imported 3 fonts(montserrat, poppins, inter) from google fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffcf9;
}

/* NAVBAR */
.navbar {
  position: relative;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #507dbc;
  padding: 20px;
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.nav-links a:hover {
  transform: scale(1.1);
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  background: #507dbc;
  color: white;
  margin: 6px 0;
  transition: 0.3s;
}

/* ABOUT SECTION */

/* applied flexbox on about section */
.about-me {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  margin-bottom: 170px;
}

/* styled the profile image */
img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* placed img and name side-to-side */
.img-div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img-div h3 {
  font-family: "Poppins", sans-serif;
}

.about-me h1 {
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

.about-me p {
  font-family: "Inter", sans-serif;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #04080f;
  padding: 20px;
  gap: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  align-self: center;
}

.socials-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: transform 0.3s ease;
}

footer a:hover {
  transform: scale(1.1);
}

/* SKILLS SECTION */
.skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.skills h1 {
  font-family: "Montserrat", sans-serif;
  color: black;
  align-self: center;
}

.skills-list {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skill-item label {
  font-family: "Inter", sans-serif;
}

.skill-item progress {
  accent-color: #507dbc;
  height: 20px;
}
/* EDUCATION SECTION */
.education {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f6f5f5;
}

td {
  padding: 10px;
}

.education h1 {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  margin-bottom: 20px;
}

.education h4 {
  font-family: "Poppins", sans-serif;
}

.education {
  font-family: "Inter", sans-serif;
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.contact h1 {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  font-family: "Inter", sans-serif;
}

input {
  border: none;
  background: #efeded;
  height: 30px;
  width: 250px;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

input:focus {
  transform: scale(1.02);
  border-color: #78a0f6;
}

.contact button {
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 10px;
  background-color: #507dbc;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
  font-weight: bold;
}

.contact button:hover {
  transform: scale(1.1);
}

/* media queries for small screens */
@media (max-width: 768px) {
  /* NAVBAR */
  .hamburger {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background: #507dbc;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  #menu-toggle:checked ~ .nav-links {
    transform: translateX(0);
  }

  /* ABOUT SECTION */

  .about-me {
    gap: 20px;
    margin-bottom: 100px;
  }

  /* SKILLS SECTION */

  .skills ul li {
    margin-top: 10px;
  }

  /* EDUCATION */

  .education h1 {
    margin-bottom: 10px;
  }
}
